<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Kadr.Properties.Settings.Human_ResourcesConnectionString"
            connectionString="Data Source=test;Initial Catalog=&quot;Human Resources&quot;;Integrated Security=True;Connection Timeout=5"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>